{{# Terms and Conditions — Termageddon embed. #}}

{{ partial:watermark_hero page_subtitle="{title}" }}

<section class="container-haus py-16 md:py-24 max-w-4xl">
    <div id="U0Zrd1RGVm9WVloxUkROcFFVRTlQUT09" class="policy_embed_div" width="640" height="480">
        Please wait while the policy is loaded. If it does not load, please <a rel="nofollow" href="https://policies.termageddon.com/api/policy/U0Zrd1RGVm9WVloxUkROcFFVRTlQUT09" target="_blank">click here</a> to view the policy.
    </div>
    <script src="https://policies.termageddon.com/api/embed/U0Zrd1RGVm9WVloxUkROcFFVRTlQUT09.js"></script>
</section>
